body{
  color: white;
  background-image: url(../images/dota2background.jpg);
  background-size: cover;
  text-shadow: 1px 5px 0 black;
}
.header{
  width: 100%;
  border-bottom: 5px solid #61616194;
  /* background-color: grey; */
}
.box{
    height: 150px;
    width: 70%;
    border-bottom: 5px solid  #61616194;
    border-right: 5px solid #61616194;
    padding-top: top: 6px;
    background-color: #3814144d;
    float: left;
    margin-right: 2px;
    }
.image{
    height: 85px;
    width: 150px;
  }
.center{
  text-align: center;
}
.characterbox{
  height: 140px;
  width: 160px;
  border: 2px solid #61616194;
  margin: 3px 10px 0px 10px;
}
.floatleft{
  float: left;
}
.title{
  /* background-color: grey; */
  width: 70%;
  border-bottom: 5px groove #61616194;
  border-right: 5px solid #61616194;
  padding-top: 10px;
  float: left;
}
.attacksection{
  width: 70%;
  border-bottom: 5px solid #61616194;
  padding-top: 10px;
  border-right: 5px solid #61616194;
  float: left;
}
.loser{
  top: 40%;
  width: 90%;
  position: fixed;
  left: 25%;
  font-size: 150px;
  color: #61616194;
  animation: blinker 1s linear infinite;

}
.winner{
top: 40%;
width: 90%;
position: fixed;
left: 25%;
font-size: 150px;
color: green;
animation: blinker 1s linear infinite;
}
@keyframes blinker {
50% {
  opacity: 0;
}
}
.hp{
  margin: auto;
}
h2.title{
  width: 100%;
  float: left;
}
h3{
  margin: 5px 0px 0px 0px;
}
h2{
  margin:0 0 0 0;
}
.textcard{
  width: 29%;
  float: right;
  background-color: #3814144d;
  height: 700px;
}
h2.floatright{
float: right;
margin-right: 35%;
}
.smalltitleright{
  float:right;
  width: 29%;
}
.flash{
  animation: blinker 1s linear infinite;

}
button {
    color: rgba(30, 22, 54, 0.6);
    box-shadow: #B40202 0 0px 0px 2px inset;
}

button:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: #4F0C0C 0 0px 0px 40px inset;
}
